
*{margin: 0; padding: 0;}

.MenuStyle{
 background-color: aquamarine;
}

.MenuStyle ul{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MenuStyle ul li{
    text-transform: uppercase;
    color: black;
}